<div class="dy-yahoo-pipes" ng-class="{'is-loading': isLoading(), 'is-empty': isEmpty()}">

  <div ng-if="!isLoading() && isEmpty()">
    <p class="dy-yahoo-pipes-notice">There are no items in current pipe...</p>
  </div>

  <div ng-if="isLoading()">
    <p class="dy-yahoo-pipes-notice">Pipe is beeing loaded...</p>
  </div>

  <div
    class="dy-yahoo-pipes-item"
    ng-style="styleFor(item)"
    ng-class="{'is-active': isActive(item)}"
    ng-click="setActive(item)"
    ng-repeat="item in items"
  >
    <h3 class="dy-yahoo-pipes-item-title">{{item.title}}</h3>
    <p class="dy-yahoo-pipes-item-description">{{item.description}}</p>
    <a class="dy-yahoo-pipes-item-link" ng-href="{{item.link}}">Read more...</a>
  </div>
</div>
